.profile {
  padding-top: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}

.profile__title {
  margin-block: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  padding-top: 123px;
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: center;
  width: 410px;
}

.profile__items-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile__items-inputs:first-child {
  border-bottom: 1px #e8e8e8 solid;
  height: 33px;
}

.profile__input-label {
  padding-top: 4px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__item-input {
  background-color: white;
  padding: 0;
  border: none;
}

.profile__item-input::placeholder {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
}

.profile-form__button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  display: block;
  padding: 0;
  margin: 0 auto;
}

.profile-form__button-save {
  width: 100%;
  background: #000;
  border-radius: 3px;
  border: 0;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  min-height: 45px;
  margin-top: 180px;
  cursor: pointer;
}

.profile-form__button-save:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}

.profile-form__button-edit {
  margin-top: 204px;
}

.profile-form__button-signout {
  font-weight: 500;
  color: #ee3465;
  margin-top: 16px;
  padding-bottom: 70px;
}

.profile-form__input-field {
  position: relative;
}

.profile-form__input-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  right: 0;
  max-width: 410px;
  margin: 16px 0 0;
  color: #ee3465;
}

.profile-form__input-error_active {
  color: #ee3465;
}

.profile-form__buttons {
  position: relative;
}

.profile-form__error-message {
  color: #ee3465;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  position: absolute;
  top: -35px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.profile-form__success-message {
  color: #2be080;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  position: absolute;
  top: -35px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

@media screen and (max-width: 770px) {
  .profile {
    padding-top: 215px;
  }

  .profile__form {
    padding-top: 93px;
  }

  .profile__btn {
    padding-top: 195px;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    padding-top: 55px;
  }

  .profile__form {
    padding-top: 78px;
    width: 260px;
  }

  .profile__btn {
    padding-top: 363px;
  }

  .profile__btn {
    font-size: 12px;
    line-height: 15px;
  }
}
